---
const {userIcon} = Astro.props
import { Image } from "astro:assets"; 
import searchIcon from '../components/assets/image/search.svg'
import helpIcon from '../components/assets/image/help.svg'
import accountIcon from '../components/assets/image/account.png'
---
<div class="nav">
    <div class="logo ">
        <div class="logo-icon ">
            <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <path fill="none"></path>
                <g>
                    <path
                        d="M19.7,19.2L4.3,35.3c0,0,0,0,0,0c0.5,1.7,2.1,3,4,3c0.8,0,1.5-0.2,2.1-0.6l0,0l17.4-9.9L19.7,19.2z"
                        fill="#EA4335"></path>
                    <path
                        d="M35.3,16.4L35.3,16.4l-7.5-4.3l-8.4,7.4l8.5,8.3l7.5-4.2c1.3-0.7,2.2-2.1,2.2-3.6C37.5,18.5,36.6,17.1,35.3,16.4z"
                        fill="#FBBC04"></path>
                    <path d="M4.3,4.7C4.2,5,4.2,5.4,4.2,5.8v28.5c0,0.4,0,0.7,0.1,1.1l16-15.7L4.3,4.7z"
                        fill="#4285F4"></path>
                    <path
                        d="M19.8,20l8-7.9L10.5,2.3C9.9,1.9,9.1,1.7,8.3,1.7c-1.9,0-3.6,1.3-4,3c0,0,0,0,0,0L19.8,20z"
                        fill="#34A853"></path>
                </g>
            </svg>
        </div>
        <div class="label">Google Play</div>
    </div>
    <div class="utility">
        <div class="utility__icon">
           <Image src={searchIcon} alt="search icon" width="24" height="24"/>
        </div>
        <div class="utility__icon">
            <Image src={helpIcon} alt="help icon" width="24" height="24"/>
        </div>
        {userIcon && <div class="utility__account-img">
                <Image src={accountIcon} alt="help icon" width="32" height="32"/>
        </div>}
    </div>
</div>
<style>
    body{
	background: white;
	color:rgb(154, 160, 166);
	max-width: 560px;
	margin-inline: auto;
}
    .hide{
	display: none;
}
.nav{
	display: flex;
 	background-color: white;
	overflow: hidden;
	z-index: 3;
	max-width: 560px;
	margin-inline: auto;
	position: relative;
}
.nav.shadow::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.99);
}

.logo{
	display: inline-flex;
	align-items: center;
	margin-inline:15px ;
	height: 56px;
}
.logo-icon{
    width: 40px;
	margin-right: 11px;
	margin-top: 4px;
}
.label{
	color: #5F6368;
	font-weight: 500;
	font-size:22px; 
	width: 119.51px;
	font-family:  "Google Sans", Roboto, Arial, sans-serif;
}
.utility{
	align-items: center;
	margin-inline: auto 10px;
	display: flex;
}
.utility__icon{
	padding: 12px;
	transition: opacity .15s
}
.utility__account-img:hover,
.utility__icon:hover {
  border-radius: 50%;
  background: rgba(51, 51, 51, 0.05); 
 }
.utility__account-img{
	padding: 8px;
}
.scroll-body{
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
	position: fixed;
	display: flex;
	left: 0;
	right: 0;
	top: 0;
}
</style>