---
import Meta from "../components/MetaData/Meta.astro";
import './use.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="min-width=320, width=content-width, initial-scale=1"/>
		<Meta SEO Android IOS Protect/>
	</head>
	<body>
		<slot />
	</body>
</html>

